main{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

}
div{
    background-color: rgb(190, 122, 249);
    color: black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
}